# Python virtual environment
.env
.venv
env/
venv/

# Cache directories
__pycache__/
.mypy_cache/
.ruff_cache/

# Build artifacts
dist/
build/
*.egg-info/
*.spec
data/
output/
temp/

# Config
config.toml

# Misc
.DS_Store
.vscode
.git
